#IDE ignore
.idea
.vscode
.vs

#env ignore
.devcontainer/**.example



# Backend ignore

Backend/src/HELP.md
Backend/src/.gradle
Backend/src/build/
Backend/src/!gradle/wrapper/gradle-wrapper.jar

Backend/src/!**/src/!main/**/build/
Backend/src/!**/src/!test/**/build/

Backend/src/### STS ###
Backend/src/**/**.class**
Backend/src/.apt_generated
Backend/src/.classpath
Backend/src/.factorypath
Backend/src/.project
Backend/src/.settings
Backend/src/.springBeans
Backend/src/.sts4-cache
Backend/src/bin/
Backend/src/!**/src/main/**/bin/
Backend/src/!**/src/main/**/build/
Backend/src/!**/src/test/**/bin/
Backend/src/!**/src/test/**/build/

Backend/src/### IntelliJ IDEA ###
Backend/src/.idea
Backend/src/*.iws
Backend/src/*.iml
Backend/src/*.ipr
Backend/src/out/
Backend/src/!**/src/!main/**/out/
Backend/src/!**/src/!test/**/out/

Backend/src/### NetBeans ###
Backend/src//nbproject/private/
Backend/src/nbbuild/
Backend/src/dist/
Backend/src/nbdist/
Backend/src/.nb-gradle/

Backend/src/### VS Code ###
Backend/src/.vscode


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

